body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "robotolight";
  line-height: 1.42;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: pink;
}

.parallax__layer {
  height: 100%;
  position: absolute;
  width: 3000px;
  left: 50%;
  margin-left: -1500px;
}

.parallax__layer img {
  position: absolute;
  bottom: 0;
}
